<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>components</title>
</head>

<body>
  <div class="header">
    <div class="info">
      <div class="infoblock">
        <p th:text="${name}">amount</p>
        <p th:text="${amount}">0</p>
      </div>
    </div>
    <div th:if="${showButtons}" class="control">
      <button id="start" class="button" onclick="startScanning()">Start scan</button>
      <button id="stop" class="hidden button buttonred" onclick="stopScanning()">Stop scan</button>
      <button class="button" onclick="resetScan()">Reset scan</button>
    </div>
  </div>
  <div class="component" th:each="component: ${components}">
    <div class=" title">
      <div class="name" th:if="${component.id != 0}" th:text="${component.name}">
        name
      </div>
      <div th:if="${component.id == 0}" class="name">
        <i class="fa fa-question"></i> unknown tag
      </div>
      <a th:href="@{/edit/{path}(path=${component.rFID})}" class="edit">
        <i class='fas fa-edit'></i>
      </a>
    </div>
    <div th:if="${component.id == 0}" class="infoblock">
      <p>Tag code</p>
      <p th:text="${component.rFID}"></p>
    </div>
    <div th:if="${component.serialNumber != null}" class="infoblock">
      <p>SerialNR</p>
      <p th:text="${component.serialNumber}"></p>
    </div>
    <div th:if="${component.specification != null}" class="infoblock">
      <p>Type</p>
      <p th:text="${component.specification.type}">hello</p>
    </div>
  </div>
</body>

</html>