<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>components</title>
</head>

<body>
  <div class="info">
    <div class="infoblock">
      <p>amount of tags</p>
      <p th:text="${amount}"></p>
    </div>
  </div>
  <div class="component" th:each="component: ${components}">
    <div class=" title">
      <div class="name" th:text="${component.name}">
        name
      </div>
      <a th:href="@{/edit/{path}(path=${component.rFID})}" class="edit">
        <i class='fas fa-edit'></i>
      </a>
    </div>
    <div class="infoblock">
      <p>SerialNR</p>
      <p th:text="${component.serialNumber}"></p>
    </div>
    <div th:if="${component.specification != null}" class="infoblock">
      <p>Type</p>
      <p th:text="${component.specification.type}">hello</p>
    </div>
  </div>
</body>

</html>