<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>difference</title>
</head>

<body>
    <div th:if="${difference != null}">
        <div class="status">
            <i th:if="${difference.status == 'NOTFOUND'}" class='fas fa-times statusred'></i>
            <i th:if="${difference.status == 'NEW'}" class='fas fa-plus statusorange'></i>
        </div>
        <div class="component">
            <div class=" title">
                <div class="name" th:if="${difference.com.id != 0}" th:text="${difference.com.name}">
                    name
                </div>
                <div th:if="${difference.com.id == 0}" class="name">
                    <i class="fa fa-question"></i> unknown tag
                </div>
            </div>
            <div th:if="${difference.com.id == 0}" class="infoblock">
                <p>Tag code</p>
                <p th:text="${difference.com.rFID}"></p>
            </div>
            <div th:if="${difference.com.serialNumber != null}" class="infoblock">
                <p>SerialNR</p>
                <p th:text="${difference.com.serialNumber}"></p>
            </div>
            <div th:if="${difference.com.specification != null}" class="infoblock">
                <p>Type</p>
                <p th:text="${difference.com.specification.type}">hello</p>
            </div>
        </div>
        <div th:if="${difference.status == 'NOTFOUND'}">
            <div class="choiceMessage">Are you sure you removed this component from the MSR?</div>
            <div class="choiceButtons">
                <button id="stop" class="button buttonred" onclick="undoDifference()">Do not remove</button>
                <button id="start" class="button" onclick="performDifference()">Remove component</button>
            </div>
        </div>
        <div th:if="${difference.status == 'NEW'}">
            <div class="choiceMessage">Are you sure you added this component to the MSR?</div>
            <div class="choiceButtons">
                <button id="stop" class="button buttonred" onclick="undoDifference()">Do not add</button>
                <button id="start" class="button" onclick="performDifference()">Add component</button>
            </div>
        </div>
    </div>
</body>

</html>