<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noDiff</title>
</head>

<body>
    <div class="status">
        <i class='fas fa-check statusgreen'></i>
    </div>
    <div>
        <div class="choiceMessage">All changes are handled.</div>
        <div class="choiceButtons">
            <button id="stop" class="button" onclick="goHome()">Go back to the home-page.</button>
        </div>
    </div>
</body>

</html>