<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tags</title>
</head>

<body>
  <div class="component" th:each="tag: ${tags}">
    <div class="mainValues">
      <div class="value">
        <p>id: </p>
        <p th:text="${tag.id}"></p>
      </div>
      <div class="value">
        <p>name: </p>
        <p th:text="${tag.name}"></p>
      </div>
      <div class="value">
        <p>supplier: </p>
        <p th:text="${tag.supplier}"></p>
      </div>
      <div class="value" th:if="${tag.dateOfInstallment != null}">
        <p>install date: </p>
        <p th:text="${tag.dateOfInstallment}"></p>
      </div>
    </div>
    <div class="specification" th:if="${tag.specification != null && tag.specification.type == 'Travo'}">
      <div th:if="${tag.specification.KVA != null}">
        <p>kva:</p>
        <p th:text="${tag.specification.KVA}"></p>
      </div>
      <div th:if="${tag.specification.fase != null}">
        <p>fase:</p>
        <p th:text="${tag.specification.fase}"></p>
      </div>
      <div th:if="${tag.specification.Hz != null}">
        <p>Hz:</p>
        <p th:text="${tag.specification.Hz}"></p>
      </div>
      <div th:if="${tag.specification.weight != null}">
        <p>weight:</p>
        <p th:text="${tag.specification.weight}"></p>
      </div>
      <div th:if="${tag.specification.coolingType != null}">
        <p>coolingType:</p>
        <p th:text="${tag.specification.coolingType}"></p>
      </div>
    </div>
    <div class="specification" th:if="${tag.specification != null && tag.specification.type == 'Fuse'}">
      <div th:if="${tag.specification.VA != null}">
        <p>VA:</p>
        <p th:text="${tag.specification.VA}"></p>
      </div>
      <div th:if="${tag.specification.volt != null}">
        <p>Volt:</p>
        <p th:text="${tag.specification.volt}"></p>
      </div>
    </div>
  </div>
</body>

</html>